## ZSH Configuration

# Path to your oh-my-zsh installation.
export ZSH=$HOME/.oh-my-zsh
ZSH_THEME="agnoster"
plugins=(git docker docker-compose)

source $ZSH/oh-my-zsh.sh

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

export DENO_INSTALL="/home/inkod/.deno"
export PATH="$DENO_INSTALL/bin:$PATH"

if [ -d "/opt/adb-fastboot/platform-tools" ] ; then
 export PATH="/opt/adb-fastboot/platform-tools:$PATH"
fi

if [ -d "/opt/heimdall/bin" ] ; then
 export PATH="/opt/heimdall/bin:$PATH"
fi

if [ -d "${HOME}/.symfony/bin" ] ; then
 export PATH="${PATH}:${HOME}/.symfony/bin"
fi
